/.docker
system/.phpunit.cache
system/node_modules
system/public/build
system/public/hot
system/public/storage
system/storage/*.key
system/storage/pail
system/vendor
system/.env
system/.env.backup
system/.env.production
system/.phpactor.json
system/.phpunit.result.cache
system/Homestead.json
system/Homestead.yaml
system/npm-debug.log
system/yarn-error.log
system/auth.json
system/.fleet
system/.idea
system/.nova
system/.vscode
system/.zed
